<!DOCTYPE html>
<html lang="en">

<head>
    <%- include ("partials/head.ejs") %>
    <title>Filters | loveback</title>
</head>

<body class="filtersPage">
    <header>
        <a href="/"><img src="images/exit.svg" alt=""></a>
        <h1>My filters</h1>
    </header>
    <main>
        <section>
            <form action="/" method="POST">
                <fieldset>
                    <legend>Gender:</legend>
                    <div>
                        <input type="radio" name="gender" id="genderMan" value="man" <%if(gender === "man"){%>
                            <%="checked"%> <%}%>>
                        <label for="genderMan">Men</label>
                    </div>
                    <div>
                        <input type="radio" name="gender" id="genderWoman" value="woman" <%if(gender === "woman"){%>
                            <%="checked"%>
                            <%}%>>
                        <label for="genderWoman">Women</label>
                    </div>
                    <div>
                        <input type="radio" name="gender" id="genderEveryone" value="everyone" <%if(gender === "everyone" || gender === undefined){%>
                            <%="checked"%> <%}%>>
                        <label for="genderEveryone">Everyone</label>
                    </div>
                </fieldset>
                <fieldset>
                    <legend>Movie genres:</legend>
                    <div class="movieGenres">
                        <label for="movies">Insert your movie preference:</label>
                        <select name="movies" id="movieSelector">
                            <option value=""<%if(movie === ""){%> <%="selected"%> <%}%>>--Choose an option</option>
                            <option value="action"<%if(movie === "action"){%> <%="selected"%> <%}%>>Action</option>
                            <option value="adventure" <%if(movie === "adventure"){%> <%="selected"%> <%}%>>Adventure</option>
                            <option value="animation" <%if(movie === "animation"){%> <%="selected"%> <%}%>>Animation</option>
                            <option value="comedy" <%if(movie === "comedy"){%> <%="selected"%> <%}%>>Comedy</option>
                            <option value="crime" <%if(movie === "crime"){%> <%="selected"%> <%}%>>Crime</option>
                            <option value="disney" <%if(movie === "disney"){%> <%="selected"%> <%}%>>Disney</option>
                            <option value="drama" <%if(movie === "drama"){%> <%="selected"%> <%}%>>Drama</option>
                            <option value="fantasy" <%if(movie === "fantasy"){%> <%="selected"%> <%}%>>Fantasy</option>
                            <option value="historical" <%if(movie === "historical"){%> <%="selected"%> <%}%>>Historical</option>
                            <option value="horror" <%if(movie === "horror"){%> <%="selected"%> <%}%>>Horror</option>
                            <option value="romance" <%if(movie === "romance"){%> <%="selected"%> <%}%>>Romance</option>
                            <option value="science" <%if(movie === "science"){%> <%="selected"%> <%}%>>Science</option>
                            <option value="thriller" <%if(movie === "thriller"){%> <%="selected"%> <%}%>>Thriller</option>
                            <option value="western" <%if(movie === "western"){%> <%="selected"%> <%}%>>Western</option>
                        </select>
                    </div>
                </fieldset>
                <div class="buttonDiv">
                    <button id="Submit">
                        Save preferences
                    </button>
                </div>
                <input id="remove" type="submit" name="remove" value="Remove preferences">
            </form>
        </section>
    </main>
    <script src="scripts/client-filterpage.js"></script>
</body>

</html>