<!DOCTYPE html>
<html lang="en">

<head>
    <%- include ("partials/head.ejs") %> 
    <title>loveback | Home</title>
</head>

<body class="swipe">
    <header>
        <ul>
            <li><h1>loveback.</h1></li>
            <li><a href="/"><img src="images/logo.svg" alt="Logo loveback"></a></li>
            <li><a href="filters">
                <img src="images/filterIcon.svg" alt="Filter icon">
            </a></li>
        </ul>
    </header>
    <main>
        <section>
            <figure>
                <img src="images/boy.png" alt="image person">
                <a href="" class="info"><img src="images/info.svg" alt=""></a>
                <p>#<%= preferences.genre %></p>
                <p>#ActionMovies</p>
                <figcaption>
                    <h2><%= preferences.name %> , <%= preferences.age %> </h2>
                    <h3> <i class="fas fa-map-marker-alt"></i> <%= preferences.location %> </h3>
                    <form action="/">
                        <button><img src="images/noLikeButton.svg" alt="No like"></button>
                        <div></div>
                        <button><img src="images/likeButton.svg" alt="like"></button>
                    </form>    
                </figcaption>
            </figure>
        </section>
    </main>
    <%- include ("partials/footer.ejs") %> 
</body>

</html>